<%= form_for @changeset, @action, fn f -> %>
  <%= form_general_error(@changeset) %>

  <label for="">
    Nazwa: <%= text_input f, :name %>
  </label>
  <%= error_tag f, :name %>
  

  <label for="">
    Wfirma ID: <%= text_input f, :wfirma_id %>
  </label>
  <%= error_tag f, :wfirma_id %>

  <div>
    <%= save_button() %>
  </div>
<% end %>
