<h1>Klienci</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for client <- @client do %>
    <tr>
      <td>
        <%= show_client_button(@conn, client) %>
      </td>
      <td>
        <span><%= edit_client_button(@conn, client) %></span>
        <span><%= delete_client_button(@conn, client) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= new_client_button(@conn) %></span>
