<ul class="breadcrumbs">
  <li><%= link "Klienci", to: Routes.client_path(@conn,  :index) %></li>
  <li>Nowy klient</li>
</ul>

<ul class="buttons">
  <li><%= list_clients_button(@conn) %></li>
</ul>

<%= render "form.html", Map.put(assigns, :action, Routes.client_path(@conn, :create)) %>


