<h1>Klient: <%= @client.name %></h1>

<ul>

  <li>
    <strong>Wfirma id:</strong>
    <%= @client.wfirma_id %>
  </li>

</ul>

<span><%= list_button(@conn) %></span>
<span><%= edit_button(@conn, @client) %></span>
