<h1>Klient: <%= @client.name %></h1>

<ul>

  <li>
    <strong>Wfirma id:</strong>
    <%= @client.wfirma_id %>
  </li>

</ul>

<span><%= edit_button(@con, @client) %></span>
<span><%= list_button(@conn) %></span>
