<%= form_for @changeset, @action, fn f -> %>
  <%= form_general_error(@changeset) %>

  <label for="">
    Nazwa:
    <%= text_input f, :name %>
  </label>
  <%= error_tag f, :name %>

  <div>
    <%= save_button %>
  </div>
<% end %>
