<h1>Pracownik: <%= @worker.name %></h1>

<h2>Zadania</h2>

<ul>
  <%= for task <- @worker.tasks do %>
    <li>
      <%= GrafikWeb.TaskView.show_task_button(@conn, task) %>
      [<%= GrafikWeb.TaskView.task_status_to_human(task.status) %>]
    </li>
  <% end %>
</ul>

<span><%= edit_worker_button(@conn, @worker) %></span>
<span><%= list_workers_button(@conn) %></span>
