<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Coś poszło nie tak, popraw błędy formularza</p>
    </div>
  <% end %>

  <label for="">
    Nazwa:
    <%= text_input f, :name %>
  </label>
  <%= error_tag f, :name %>

  <div>
    <%= submit "Zapisz" %>
  </div>
<% end %>
