/* This file is for your main application css. */

@import "./phoenix.css";

.grafik-logo {
    color: #00aaaa;
    font-style: italic;
    font-size: 20px;
}

.main-nav li {
    display: inline-block;
    margin: 0 10px;
}

select.full {
    width: 100%;
}


.projects-list {
    list-style-type: none;
}

.project-expander {
    display: inline-block;
    cursor: default;
}

.project-expander .icon {
    margin-right: 5px;
}

.hidden {
    display: none;
}

i.icon {
    font-style: normal;
}

.icon.caret-right::after {
    content: '▸';
}

.icon.caret-down::after {
    content: '▾';
}
