/* This file is for your main application css. */

@import "./phoenix.css";

.grafik-logo {
    color: #00aaaa;
    font-style: italic;
    font-size: 20px;
}

.main-nav li {
    display: inline-block;
    margin: 0 10px;
}

select.full {
    width: 100%;
}
