<h1>Projekt: <%= @project.name %></h1>

<ul>

  <li>
    <strong>Deadline:</strong>
    <%= @project.deadline %>
  </li>

  <li>
    <strong>Klient:</strong>
    <%= link @project.client.name, to: Routes.client_path(@conn, :show, @project.client) %>
  </li>
</ul>

<span><%= edit_button(@conn, @project) %></span>
<span><%= list_button(@conn) %></span>
