/* This file is for your main application css. */

@import "./phoenix.css";
@import "./dashboard.css";
@import "./modal.css";
@import "./icons.css";
@import "./breadcrumbs.css";
@import "./buttons.css";

.hidden {
    display: none;
}

.grafik-logo {
    color: #00aaaa;
    font-style: italic;
    font-size: 20px;
}

.main-nav li {
    display: inline-block;
    margin: 0 10px;
}

select.full {
    width: 100%;
}

.projects-table .archived {
    color: #aaa;
}

.projects-table .archived a {
    color: #aaf;
}

.projects-table .rigid-deadline {
    color: #f00;
}

.worker-tasks-list h3 {
    margin: 10px 0;
}

.container {
    max-width: 112.0rem;
}

td:last-child, th:last-child {
    text-align: right;
}
