/* This file is for your main application css. */

@import "./phoenix.css";

.hidden {
    display: none;
}

i.icon {
    font-style: normal;
}

.icon.caret-right::after {
    content: '▸';
}

.icon.caret-down::after {
    content: '▾';
}

.icon.remove::after {
    content: '⊖';
}

.grafik-logo {
    color: #00aaaa;
    font-style: italic;
    font-size: 20px;
}

.main-nav li {
    display: inline-block;
    margin: 0 10px;
}

select.full {
    width: 100%;
}

.dashboard.loading {
    opacity: 0.5;
    pointer-events: none;
    cursor: wait;
}

.projects-list .project-expander {
    cursor: default;
    width: 15px;
    margin-right: 0;
    padding-right: 0;
}

.projects-list .project-name {
    margin-left: 0;
    padding-left: 0;
    cursor: default;
}

.projects-list .project-expander .icon {
    margin-right: 5px;
}

.projects-list .add-task-button {
    margin: 0;
}

.modal {
    left: 50%;
    margin: 0 0 0 -200px;
    position: fixed;
    top: 10%;
    width: 400px;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
}

.modal .modal-header, .modal .modal-footer {
    border-radius: 5px 5px 0 0
}

.modal .modal-footer, .modal .modal-footer {
    border: none;
}

.modal .modal-header h2 {
    margin: 0;
}

.modal .modal-body, .modal .modal-header, .modal .modal-footer {
    padding: 10px;
}

.modal-content {
    background: #fff;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    border: solid 1px #aaa;
    border-radius: 5px;
}

.modal .modal-body { background: #fff }

.modal .modal-overlay {
    background-color: #fff;
    background: rgba(255,255,255,.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

