.dashboard.loading {
    opacity: 0.5;
    pointer-events: none;
    cursor: wait;
}

.dashboard .project-expander {
    width: 31px;
    cursor: default;
    margin-right: 0;
    padding-right: 0;
}

.dashboard .project-name-row {
    margin-left: 0;
    padding-left: 0;
    cursor: default;
    text-align: left;
}

.dashboard .project-deadline {
    font-weight: normal;
}

.dashboard .project-deadline.rigid-deadline {
    color: #f00;
}

.dashboard .project-expander .icon {
    margin-right: 5px;
}

.dashboard .add-task-button {
    margin: 0;
}

.dashboard .task-name,
.dashboard .task-price {
    cursor: default;
}

.dashboard .task-received {
    color: #6bbdff;
}

.dashboard .task-todo {
    color: #f90;
}

.dashboard .task-sent {
    color: #bbb;
}

.dashboard select {
    margin: 0;
    padding: 0 2rem 0 0.5rem;
    height: 2rem;
}

.dashboard .projects-list button, .dashboard .projects-list .button, .dashboard .button-small {
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    margin: 0;
}

.dashboard tr:hover {
    background-color: #eee;
}

.dashboard td, .dashboard th {
    padding: 0 1.5rem;
}

.dashboard .add-task-button-container {
    text-align: left;
}

.dashboard .project-row.finished .project-name {
    color: #6bbdff;
}

.dashboard .project-row.sent .project-name {
    color: #bbb;
}

.dashboard .project-row.finished .project-name:before {
    content: '❗';
    color: red;
    padding-right: 2px;
}

.dashboard .project-utils {
    padding: 0 0.2rem;
    min-width: 180px;
}

.dashboard .project-utils .project-deadline {
    margin-right: 3px;
}

.dashboard .project-utils .button {
    margin-left: 0.2rem;
}

.dashboard .task-worker-select-container,
.dashboard .task-status-select-container {
    width: 40px;
    padding: 0 0.2rem;
}

.dashboard .task-remove-button-container {
    width: 20px;
    padding: 0 0.2rem;
}

.dashboard .search-box input {
    width: 250px;
    height: 2.5rem;
}

.dashboard .search-box input.filtering-is-on {
    border-color: #f00;
}

.dashboard .search-box .hidden-projects-info {
    color: #bbb;
}

.dashboard .error-message {
    font-weight: normal;
    color: #f00;
}

.dashboard .invalid-date {
    color: #f00;
}

.dashboard fieldset {
    border: solid 1px;
    border-radius: 3px;
    border-color: #ccc;
    padding: 5px;
}

.dashboard legend {
    text-transform: uppercase;
}

.dashboard .client-view {
    width: 90%;
    box-sizing: border-box;
    border: solid 1px #aaa;
    margin: 3px 5%;
    border-radius: 3px;
    padding: 3px;
    background-color: #eee;
}

.dashboard .client-view .client-name {
    font-weight: bold;
}

.dashboard .client-view tr:hover {
    background: transparent;
}

.dashboard .clients-selection-container .client-view:hover {
    border-color: #aaa;
    background-color: #555;
    color: #eee;
    cursor: pointer;
}

.dashboard .clients-selection-container {
    max-height: 200px;
    overflow: auto;
}

.dashboard button .icon,
.dashboard .button .icon {
    margin-right: 5px;
}

.dashboard .project-save-errors {
    color: #f00;
}

.dashboard .project-details {
    font-weight: normal;
}

.dashboard .button-expand-all {
    float: left;
    margin: 3px 3px 0 0;
    cursor: default;
    width: 60px;
    user-select: none;
}

.dashboard .button-expand-all i {
    margin-right: 3px;
}

.dashboard .button-expand-all i::after {
    position: relative;
    top: -2px;
}

.dashboard .prices-mini-view {
    cursor: help;
    font-weight: normal;
}

.dashboard .tool-bar .prices-mini-view {
    text-align: right;
    flex: 1
}

.dashboard .prices-mini-view .finished-tasks-price {
    color: #6bbdff;
}

.dashboard .invoice-number {
    display: flex;
}

.dashboard .invoice-number button {
    margin-left: 5px;
}

