.dashboard.loading {
    opacity: 0.5;
    pointer-events: none;
    cursor: wait;
}

.dashboard .project-expander {
    width: 31px;
    cursor: default;
    margin-right: 0;
    padding-right: 0;
}

.dashboard .project-name {
    margin-left: 0;
    padding-left: 0;
    cursor: default;
    text-align: left;
}

.dashboard .project-deadline {
    font-weight: normal;
    width: 110px;
}

.dashboard .project-deadline.rigid-deadline {
    color: #f00;
}

.dashboard .project-expander .icon {
    margin-right: 5px;
}

.dashboard .add-task-button {
    margin: 0;
}

.dashboard .task-name {
    cursor: default;
}

.dashboard .task-received {
    color: #6bbdff;
}

.dashboard .task-sent {
    color: #bbb;
}

.dashboard select {
    margin: 0;
    padding: 0 2rem 0 0.5rem;
    height: 2rem;
}

.dashboard .projects-list button, .dashboard .projects-list .button {
    height: 2rem;
    line-height: 2rem;
    padding: 0 1rem;
    margin: 0;
}

.dashboard tr:hover {
    background-color: #eee;
}

.dashboard td, .dashboard th {
    padding: 0 1.5rem;
}

.dashboard .add-task-button-container {
    text-align: left;
}

.dashboard .project-buttons {
    padding: 0 0.2rem;
}

.dashboard .project-buttons .button {
    margin-left: 0.2rem;
}

.dashboard .task-worker-select-container,
.dashboard .task-status-select-container {
    width: 40px;
    padding: 0 0.2rem;
}

.dashboard .task-remove-button-container {
    width: 20px;
    padding: 0 0.2rem;
}

.dashboard .search-box input {
    width: 250px;
    height: 2.5rem;
}

.dashboard .search-box input.filtering-is-on {
    border-color: #f00;
}

.dashboard .search-box .hidden-projects-info {
    color: #bbb;
}

